<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>
		<link rel="icon" href="../media/icon-wikipraktika.png">
		<!--<meta http-equiv="refresh" content="5">-->
		<meta name="description" content="Taschenrechner: tragbare, handliche elektronische Rechenmaschine">
		<meta name="publisher" content="Wikipraktika">
		<meta name="author" content="Wikipraktika">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- TODO -->

			<h1><img src="../media/logo-wikipraktika.svg"/>Wikipraktika</h1>
		</header>

		<h2>Navigation</h2>
		<ul id="navigation">
			<li><a href = "/de/">Hauptseite</a></li>
			<li><a href = "/de/topics/">Themenportale</a></li>
			<li>Mitmachen</li>
			<ul class="innerListNavigation">
				<li><a href = "/de/join/enhance-article/calculator">Artikel verbessern</a></li>
				<li><a href = "/de/join/create-article">Neuen Artikel anlegen</a></li>
				<li><a href = "/de/join/author-portal">Autorenportal</a></li>
				<li><a href = "/de/join/help">Hilfe</a></li>
				<li><a href = "/de/join/last-changes/calculator">Letzte Änderungen</a></li>
				<li><a href = "/de/join/contact">Kontakt</a></li>
				<li><a href = "/de/join/donate">Spenden</a></li>
			</ul>
			<li>Werkzeuge</li>
			<ul class="innerListNavigation">
				<li><a href = "/de/calculator/tools/links-to-this-page">Links auf diese Seite</a></li>
				<li><a href = "/de/calculator/tools/linked-changes">Änderungen an verlinkten Seiten</a></li>
				<li><a href = "/de/calculator/tools/linked-changes">Permanenter Link</a></li>
				<li><a href = "/de/calculator/tools/linked-changes">Artikel zitieren</a></li>
			</ul>
			<li>In anderen Sprachen</li>
			<ul class="innerListNavigation">
				<li id="it" class="logo"><a href = "/it/articles/calculator" hreflang="it">Italiano</a></li>
				<li id="fr" class="logo"><a href = "/fr/articles/calculator" hreflang="fr">Francais</a></li>
				<li id="en" class="logo"><a href = "/en/articles/calculator" hreflang="en">English</a></li>
			</ul>
		</ul>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<h2>Taschenrechner</h2>

		<h3>1 Taschenrechner</h3>

		<p>Ein Taschenrechner ist eine tragbare, handliche elektronische Rechenmaschine,
		mit deren Hilfe numerische Berechnungen ausgeführt werden können.
		Einige neuere technisch-wissenschaftliche Taschenrechner beherrschen auch symbolische Mathematik mittels eines Computeralgebrasystems (CAS),
		können also etwa Gleichungen umstellen oder lösen.</p>

		<p>Praktisch alle heutigen Taschenrechner verwenden elektronische Integrierte Schaltungen und
		LC-Displays als Anzeige und werden von einer Batterie oder Solarzelle mit Strom versorgt.</p>

		<div class="imageWrapper">
			<img src="../media/900px-SCM_Marchant_calculator.jpg" alt="1960s SCM Marchant calculator">
			<span id="imageText">By <a href="commons.wikimedia.org/wiki/User:Bilby">Bilby</a> - Own work, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>,
				https://commons.wikimedia.org/w/index.php?curid=10980797</span>
		</div>

		<h4>Geschichte</h4>
		<p>Bereits vor der Einführung der elektronischen Taschenrechner gab es einen Bedarf nach
		tragbaren Rechenhilfen. Dieser wurde mit mechanischen Taschenrechnern und Rechenschiebern
		befriedigt. Meist handelte es sich dabei um einfache Addiermaschinen. Auch
		Vier-Spezies-Maschinen – also Rechenmaschinen, die Addition, Subtraktion, Multiplikation und
		Division beherrschten – gab es in taschentauglicher Größe. Bekanntestes Beispiel ist die Curta.</p>

		<p>Vorläufer der elektronischen Taschenrechner waren elektronische Tischrechner, bei denen der
		Integrationsgrad der Schaltungstechnik noch geringer war und die deshalb größere Dimensionen
		aufwiesen.</p>

		<p>Der erste elektronische, tatsächlich handflächengroße Taschenrechner wurde 1967 von Texas
		Instruments entwickelt.[1] Ein 1,5 kg schwerer Prototyp dieses ersten Taschenrechners ist
		heute in der Smithsonian Institution ausgestellt. Auch dieser lief schon mit Batterien,
		frühere Rechner benötigten einen Stromanschluss.
		Die ersten kommerziell vertriebenen Taschenrechner wurden 1969
		und 1970 von den japanischen Firmen Compucorp,
		Sanyo, Sharp und Canon hergestellt.
		Intel entwickelte für die japanische Firma Busicom einen der ersten Mikroprozessoren,
		den Intel 4004, der 1971 auf den Markt kam und in dem Modell
		Busicom 141-PF verwendet wurde.
		Als erster Taschenrechner, der mit einem Verkaufspreis von 10.000 Yen für die breite Masse erschwinglich war,
		gilt der 1972 veröffentlichte Casio Mini.[2] 1972 brachte Texas
		Instruments den
		Taschenrechner SR 10 mit dem eigenen Mikroprozessor TMS1000 heraus.
		Diese Taschenrechner verfügten über wenig mehr als die vier Grundrechenarten.
		1971 stellte Bowmar den ersten in den USA erhältlichen
		Taschenrechner her (Bowmar 901B/„Bowmar Brain“, Maße: 131 mm ×77 mm × 37 mm).
		Er hatte vier Funktionen und ein achtstelliges rotes LED-Display. Verkauft wurde er für 240 US$.
		Bowmar musste 1976 schließen.</p>

		<p>1972 erschien mit dem HP-35 von Hewlett-Packard der erste technisch-wissenschaftliche
		Taschenrechner mit trigonometrischen, logarithmischen und Exponentialrechnungs-Funktionen. Er
		wurde ein Verkaufserfolg und leitete das Ende der damals noch weit verbreiteten Rechenschieber ein.
		Einer seiner Entwickler war Steve Wozniak, der wenige Jahre später das Unternehmen Apple mitgründete
		und als Computer-Ingenieur die Entwicklung des Personal Computer maßgeblich beeinflusste.</p>

		<p>Vor allem Hewlett Packard und Texas Instruments entwickelten ab 1974 auch programmierbare
		Taschenrechner.</p>

		<h4>Numerische Genauigkeit</h4>
		<p>Auch wenn heutige Taschenrechner im Regelfall kaum Programmfehler bei einfachen Berechnungen
		aufweisen, lassen sich zwischen verschiedenen Taschenrechnermodellen unterschiedliche
		Genauigkeiten und Auflösungen bei numerischen Berechnungen bestimmen.
		Die Gründe liegen in den numerischen Näherungsverfahren (beispielsweise Horner-Schema und CORDIC),
		mit denen beispielsweise transzendente Funktionen wie die Sinus-Funktion berechnet werden.
		Genauer gesagt kommt es auf die Anzahl der abgespeicherten Koeffizienten für die Funktionsapproximationen an:
		der dafür benötigte Speicherplatz war vor allem in der Anfangszeit ein extremer Engpass.
		Diese kleinen Unterschiede in den Verfahren und unterschiedliche Genauigkeiten lassen sich auch
		als Erkennungsmerkmal für eine bestimmte Firmware verwenden.</p>

		<p>Beispielsweise liefert die numerische Berechnung von sin (22) in Radiant auf verschiedenen
		Taschenrechnern voneinander abweichende Ergebnisse.</p>

		<p class="sourceText">Source Wikipedia: <a href = "https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a></p>


		<h3>2 Demonstration</h3>

		<iframe src="calculator/index.html" height="320" scrolling="no"></iframe>

		<p class="descriptionText">Casino Mini von 1972</p>


		<h3>3 Bedienung des TI-Nspire CX CAS</h3>

		<div class="videoWrapper">
			<video width="960" height="720" controls poster="../media/ti-nspire-cx-cas.png">
				<source src="../media/TI-Nspire CX CAS 3D Model.mp4" type="video/mp4">
				<source src="../media/TI-Nspire CX CAS 3D Model.webm" type="video/webm">
				<track src="../media/ti-nspire-subtitles.en.vtt" kind="subtitles" srclang="en" label="English">
			</video>
		</div>
		<p class="descriptionText">TI-Nspire CX CAS Demonstration</p>
		<p class="sourceText">Von TheConnerdy, <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> ,
			<a href = "https://www.youtube.com/watch?v=6gKkz4VkSgk">via Youtube</a></p>

		<div class="textBox clearfix">
			<p class="leftAlign">Zuletzt geändert von Philipp Graf</p>
			<p class="rightAlign">Donnerstag, 11. Februar 2016, 12:45</p>
		</div>

		<h3>4 Taschenrechnervarianten</h3>

		<ul class="outerListCalculatorVariations">
			<li>Einfach</li>
			<ul class="innerListCalculatorVariations">
				<li>Grundrechenarten, Prozentrechnung</li>
			</ul>
			<li>Finanzwirtschaft</li>
			<ul class="innerListCalculatorVariations">
				<li>Zinsrechnung, …</li>
				<li>zum Beispiel der „Klassiker“ HP-12C (hergestellt seit 1981), HP 17 B (II) (hergestellt seit 1988</li>
			</ul>
			<li>Boolesche Rechnungen</li>
			<ul class="innerListCalculatorVariations">
				<li>Rechnen mit Dual-, Oktal- und Hexadezimalzahlen, z. B. TI Programmer)</li>
			</ul>
			<li>Wissenschaftlich</li>
			<ul class="innerListCalculatorVariations">
				<li>Winkelfunktionen, Logarithmus, mathematische Statistik, …</li>
				<li>zum Beispiel TI-30 (seit 1976 dieselbe Typbezeichnung für intern völlig unterschiedliche Geräte</li>
			</ul>
			<li>Programmierbarer Taschenrechner</li>
			<li>Grafikfähiger Taschenrechner</li>
			<ul class="innerListCalculatorVariations">
				<li>Funktions-/Kurvendarstellung</li>
				<li>ab 1985 Geräte von Casio (fx-Serie, aktuelles Modell fx 9860G SD)</li>
				<li>1989 bis heute die HP-48-49-Reihe</li>
				<li>ab 1993 der TI-82 und seine Nachfolger</li>
				<li>aktuell der TI-84 Plus und TI-Nspire</li>
				<li>Grafikrechner sind typischerweise auch programmierbar.</li>
			</ul>
			<li>Computeralgebra-Rechner</li>
			<ul class="innerListCalculatorVariations">
				<li>grafikfähige Taschenrechner mit eingebautem Computeralgebra-Kern</li>
				<li>erstes verbreitetes Gerät war der HP-48 von Hewlett-Packard (ab 1989),
					spätere Geräte zum Beispiel TI-92(+) (ab 1995), TI-89 (ab
					1998) und Voyage 200 (ab 2002), TI-Nspire CAS (ab 2007)
					von Texas Instruments, ClassPad 300 von Casio, HP 49g+ von
					Hewlett-Packard.</li>
			</ul>
		</ul>

		<p class="descriptionText">Taschenrechnervarianten, Source Wikipedia: <a href = "https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a></p>

		<div class="textBox clearfix">
			<p class="leftAlign">Zuletzt geändert von Gabriela Kant</p>
			<p class="rightAlign">	Donnerstag, 11. Februar 2016, 10:09</p>
		</div>

		<h3>5 Zeitgewinn</h3>

		<table>
			<caption> Zeitgewinn durch Benutzung eines Taschenrechners</caption>

			<tr><th></th><th>2-Stellen</th>	<th>3-Stellen</th>	<th>4-Stellen</th></tr>
			<tr><td class="rowHeader">Addition / Subtraktion</td>	<td>4</td><td>8</td><td>20</td></tr>
			<tr><td class="rowHeader">Multiplikation</td><td rowspan="2">15</td><td rowspan="2">45</td><td>240</td></tr>
			<tr><td class="rowHeader">Division</td><td>210</td></tr>
			<tr><td class="rowHeader">Modulo</td><td>5</td><td>20</td><td>65</td></tr>
			<tr><td class="rowHeader">Quersumme</td><td colspan="2">1</td><td>2</td></tr>
			<tr><td class="rowHeader">Wurzelziehen</td><td colspan="3">Kaum machbar von Hand</td></tr>
			<tr><td class="rowHeader">Potenzieren</td><td>25</td><td>75</td><td>550</td></tr>
		</table>

		<svg height="250" width="250">
			<image height=250 width=250 xlink:href="../media/zeitgewinn.svg" />
		</svg>
		<div class="textBox clearfix">
			<p class="leftAlign">Zuletzt geändert von Leandra Gross</p>
			<p class="rightAlign">Freitag, 29. Februar 2016, 13:02</p>
		</div>


		<h3>6 iPhone calculator tricks</h3>

		<div class="videoWrapper">
			<iframe src="https://www.youtube.com/embed/a7rcVgb41-0"></iframe>
		</div>

		<p class="descriptionText">iPhone Calculator Tricks on YouTube: <a href = "https://www.youtube.com/watch?v=a7rcVgb41-0">youtube.com/watch?v=a7rcVgb41-0</a></p>
		<div class="textBox clearfix">
			<p class="leftAlign">Zuletzt geändert von Paul Sarner</p>
			<p class="rightAlign">Donnerstag, 10. Februar 2016, 18:38</p>
		</div>



		<h3>7 Die besten und schlechtesten Taschenrechner</h3>

		<p>In einer 2014 durchgeführten Benutzerbefragung schnitten die Modelle von Casino am Besten ab:</p>
		<ol class="orderedList">
			<li>Casino UX5</li>
			<li>Casino TZZ</li>
			<li>Casino Basic</li>
		</ol>

		<p>Am schlechtesten schnitten die Geräte von HG ab:</p>
		<ol start="77" reversed class="orderedList">
			<li>HG Productive</li>
			<li>HG Calc++</li>
			<li>HG GO-ON</li>
		</ol>
		<div class="textBox clearfix">
			<p class="leftAlign">Zuletzt geändert von Petra Summer</p>
			<p class="rightAlign">Donnerstag, 11. Februar 2016, 14:13</p>
		</div>


		<h3>8 Taschenrechner suchen nach Modell</h3>

        <form>
			<input list="trsearch" name="trsearch">
			<datalist id="trsearch">
				<option value="Mexico Instrument TI 30"></option>
				<option value="Mexico Instrument TI 32"></option>
				<option value="Mexico Instrument D*D"></option>
				<option value="Casino UX5"></option>
				<option value="Casino TZZ"></option>
				<option value="Casino Basic"></option>
				<option value="HG Calc++"></option>
				<option value="HG Productive"></option>
				<option value="HG GO-ON"></option>
			</datalist>
            <input type="submit" value="Search">
        </form>

		[                     ]










		[search]



		<h2>Neuen Autor registrieren</h2>
        <!-- TODO Check for complete form -->
        <!-- TODO Code delete button function-->

		<form>
			<fieldset>
				<legend>Autor</legend>
				Herr <input type="radio" name="gender" value="Herr" checked required><br>
				Frau <input type="radio" name="gender" value="Frau" required><br>
				Name <input type="text" name="name" required><br>
				E-Mail <input type="text" name="mail" required><br>
				Webseite <input type="text" name="website"><br>
				Geburtsdatum <input type="text" name="birthdate" required><br>
				Nationalität <select name="nationality" required>
					<option value="" selected hidden>-- Wählen --</option>
					<option value="ch">Schweiz</option>
					<option value="de">Deutschland</option>
					<option value="fr">Frankreich</option>
					<option value="it">Italien</option>
					<option value="au">Österreich</option>
			</select><br>
				Profiltext<br> <textarea name="profiletext" cols="100" rows="15"></textarea><br>
				Profilbilder <input type="file" name="avatar"><br>
			</fieldset>

			<fieldset>
				<legend>Rechtliches</legend>
				<input type="checkbox" name="law1"> Ich bestätige, das ich keine Texte veröffentlichen werde, deren Urheber ich nicht bin<br>
				<input type="checkbox" name="law2"> Ich bestätige, das ich keine Medien veröffentlichen werden, deren Urheber ich nicht bin<br>
				<input type="checkbox" name="law3"> Ich bestätige, das nur Texte veröffentlichen werde, die nach bestem Treu und glauben der Wahrheit entsprechen und
				eingereichte Medien Bilder nicht manipuliert wurden<br>
			</fieldset>


			<input type="submit" value="Account anlegen">
			<input type="reset" value="Eingaben zurücksetzen">
		</form>



        <footer>
            <p>Bahnhofstrasse 42,
                8000 Zürich</p>

            <p>055 444 33 22
                info@wikipraktika.com</p>

            <p>Alle Inhalte von Wikipraktika stehen unter der <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
                <a href = "http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
                und dürfen nur mit Nennung des Autors weiterverwendet werden.</p>
        </footer>
    </body>
</html>